{%extends './body.html'%}

{%block title%}Lista de Productos{%endblock%}
{%block container%} 
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>{{data.titulo}}</h1>
    </div>
</div>
<hr/>

<div class="row">
    {%for m in data.maquillaje%}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card mb-4 shadow-sm" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">{{m.tipo}}</h5>
              <p class="card-text"> {{m.marca.nombre}},{{m.marca.origen}} ,{{m.precio}}</p>
              <button href="#" id="{{m.codigo}}" class="btn btn-primary btnComprarMaquillaje">Comprar</button>
            </div>
          </div>
    </div>
    {%endfor%}
</div>
{%endblock%}
{%block customJS%}
<script src="{{url_for('static',filename='js/listado_maquillaje.js')}}"></script>
{%endblock%}